{% extends 'base.html' %}
{% block title %}Logowanie – AK{% endblock %}

{% block content %}
<div class="login">
  <div class="login__col">
    <div class="login__card">
      <div class="login__card-body">
        <h2 class="login__title">Akademia Korepetycji</h2>
        <form method="POST" class="login__form">
          {{ form.hidden_tag() }}

          <div class="login__form-group">
            {{ form.email.label(class="login__label") }}
            {{ form.email(class="login__input", placeholder="Twój e-mail") }}
          </div>

          <div class="login__form-group">
            {{ form.password.label(class="login__label") }}
            {{ form.password(class="login__input", placeholder="Hasło") }}
          </div>

          <div class="login__submit">
            {{ form.submit(class="login__submit-btn") }}
          </div>
        </form>

        <p class="login__register-text">
          Nie masz konta?
          <a href="{{ url_for('main.register') }}" class="login__register-link">Zarejestruj się</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}